<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >

	<div class="container" th:replace="~{fragments/head::head}"/>
	
	<body>
		<main>
			
			<div class="container" th:replace="~{fragments/header::header}"/>
			
			<div class="container">
				
					<form method="post" th:action="@{/addBookshop}" th:object="${newBookshop}" >
					  <div class="form-group mb-3">
					    <label for="inputName">Name</label>
					    <input type="text" class="form-control form-control-lg" id="inputName" placeholder="Enter name" th:field="*{name}" name = "name" pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚ]+[a-zA-ZñÑáéíóúÁÉÍÓÚ\s\-\.,&:]*" minlength="1" maxlength="50" required>
					  	<div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
					</div>
					  <button type="submit" class="btn btn-primary">Save</button>
				</form>	
				
				</div>
			
		</main>
		
		<div class="container" th:replace="~{fragments/footer}">
		  
		</div>
		
	</body>
</html>