<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >

	<div class="container" th:replace="~{fragments/head::head}"/>
	
	<body>
		<main>
			
			<div class="container" th:replace="~{fragments/header::header}"/>
			
			<div class="container">
				
				<form method="post" th:action="@{/addBook}" th:object="${newBook}">
					<div class="mb-3">
						<label for="inputIsbn" class="form-label">ISBN</label>
						<input type="text" class="form-control" id="inputIsbn" placeholder="Enter ISBN" name="isbn" pattern="[\d]{10,13}" minlength="10" maxlength="13" required>
						<div class="alert alert-warning" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></div>					
					</div>
					<div class="mb-3">
						<label for="inputTitle" class="form-label">Title</label>
						<input type="text" class="form-control" id="inputTitle" placeholder="Enter Title" name="title" pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚ¿¡]+[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ\s\-\?¿\!¡\.&,:]*" minlength="1" maxlength="100" required>
						<div class="alert alert-warning" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
					</div>
					<div class="mb-3">
						<label for="inputPublisher" class="form-label">Publisher</label>
						<select class="form-select" aria-label="Publisher" th:field="*{publisherId}" id="inputPublisher" name="publisher"  required>							
    					  <option selected th:value="null">select option</option>
						  <option th:each="publisher:${publishers}" th:value="${publisher.publisherId}" th:text="${publisher.name}"></option>
						</select>
						<div class="alert alert-warning" th:if="${#fields.hasErrors('publisherId')}" th:errors="*{publisherId}"></div>

					</div>
					<div class="mb-3">
						<label for="inputGenre" class="form-label">Genre</label>
						<select class="form-select" aria-label="Genre" th:field="*{genreId}" id="inputGenre" name="genre" required>							
    					  <option selected th:value="null">select option</option>
						  <option th:each="genre:${genres}" th:value="${genre.genreId}"th:text="${genre.name}"></option>
						</select>
						<div class="alert alert-warning" th:if="${#fields.hasErrors('genreId')}" th:errors="*{genreId}"></div>
					</div>
					<div class="mb-3">
						<label for="inputAuthor" class="form-label">Author</label>
						<select class="form-select" aria-label="Author" th:field="*{authorId}" id="inputAuthor" name="author" multiple required>
						  <option th:each="author:${authors}" th:value="${author.authorId}" th:with = "authorName = ${author.name} + ' ' + ${author.surname}" th:text="${authorName}"></option>
						</select>
						<div class="alert alert-warning" th:if="${#fields.hasErrors('authorId')}" th:errors="*{authorId}"></div>
					</div>
					<button type="submit" class="btn btn-primary">Save</button>
				</form>					
				
			</div>
			
		</main>
		
		<div class="container" th:replace="~{fragments/footer}">
		  
		</div>
		
	</body>
</html>