<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >

	<div class="container" th:replace="~{fragments/head::head}"/>
	
	<body>
		<main>
			
			<div class="container" th:replace="~{fragments/header::header}"/>
			
			<div class="container">
				
				<form th:action="@{/updateBookshop/{id} (id=${bookshop.bookshopId})}" th:objet="${newBookshop}" method="post">
					<div class="form-group mb-3">
					    <label for="inputId">Id</label>
					    <input type="text" class="form-control form-control-lg bg-secondary bg-gradient text-white" id="inputId" readonly placeholder="Element id" th:field="*{bookshop.bookshopId}">
					  </div>
					  <div class="form-group mb-3">
					    <label for="inputName">Name</label>
					    <input type="text" class="form-control form-control-lg" id="inputName" placeholder="Enter name" th:field="*{bookshop.name}" pattern="[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ\s\-\?¿\!¡\.&,:]+" minlength="1" maxlength="50" required>
					  </div>
					  <button type="submit" class="btn btn-outline-info">Save</button>
				</form>				
				
			</div>
			
		</main>
		
		<div class="container" th:replace="~{fragments/footer}">
		  
		</div>
		
	</body>
</html>