<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >

	<div class="container" th:replace="~{fragments/head::head}"/>
	
	<body>
		<main>
			
			<div class="container" th:replace="~{fragments/header::header}"/>
			
			<div class="container">
				
				<form th:action="@{/updateAuthor/{id} (id=${author.authorId})}" th:objet="${newAuthor}" method="post">
					<div class="form-group mb-3">
					    <label for="inputId">Id</label>
					    <input type="text" class="form-control form-control-lg bg-secondary bg-gradient text-white" id="inputId" readonly placeholder="Element id" th:field="*{author.authorId}">
					  </div>
					  <div class="form-group mb-3">
					    <label for="inputName">Name</label>
					    <input type="text" class="form-control form-control-lg" id="inputName" placeholder="Enter name" th:field="*{author.name}" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s\-\.,&:]+" minlength="1" maxlength="50" required>
					  </div>
					<div class="form-group mb-3">
					    <label for="inputSurname">Surname</label>
					    <input type="text" class="form-control form-control-lg" id="inputSurname" placeholder="Enter surname" th:field="*{author.surname}" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s\-\.,&:]+" minlength="1" maxlength="50" required>
					  </div>
					  <button type="submit" class="btn btn-outline-info">Save</button>
				</form>				
				
			</div>
			
		</main>
		
		<div class="container" th:replace="~{fragments/footer}">
		  
		</div>
		
	</body>
</html>