<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >

	<div class="container" th:replace="~{fragments/head::head}"/>
	
	<body>
		<main>
			
			<div class="container" th:replace="~{fragments/header::header}"/>
			
			<div class="container">
				<form th:action="@{updateBookBookshop}" method="post" th:object="${newBbsDTO}">
				<div class="row">
					<div class="col-md-4">
					    <label class="form-label" for="inputBookId">Book Id</label>
					    <input type="text" class="form-control form-control-lg bg-secondary bg-gradient text-white" id="inputBookId" placeholder="Element id" th:field="${thebbs.bookId}" readonly >
					  </div>
					<div class="col-md-4">
					    <label class="form-label" for="inputIsbn">Isbn</label>
					    <input type="text" class="form-control form-control-lg bg-secondary bg-gradient text-white" id="inputIsbn" placeholder="Element isbn" th:field="${thebbs.isbn}" readonly >
					  </div>
					<div class="col-md-4">
					    <label class="form-label" for="inputTitle">Title</label>
					    <input type="text" class="form-control form-control-lg bg-secondary bg-gradient text-white" id="inputTitle" placeholder="Element title" th:field="${thebbs.title}" readonly >
					  </div>
				  </div> 
				  <div class="row">
					<div class="col-md-6">
					    <label class="form-label" for="inputPrice">Price</label>
					    <input type="number" class="form-control form-control-lg" id="inputPrice" placeholder="Element price, max 1000000" th:field="${thebbs.price}" min="1" max="1000000" step="0.01" required>
						<div class="alert alert-warning" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
					  </div>
					<div class="col-md-6">
					    <label class="form-label" for="inputUnits">Units</label>
					    <input type="number" class="form-control form-control-lg" id="inputUnits" placeholder="Element units, max 99" th:field="${thebbs.units}" min="1" max="99" required>
						<div class="alert alert-warning" th:if="${#fields.hasErrors('units')}" th:errors="*{units}"></div>
					  </div>				  
				  </div>
				  <div class="row"> 
					  <div class="col-md-6">
					    <label class="form-label" for="inputBookshopId">Bookshop Id</label>
					    <input type="text" class="form-control form-control-lg bg-secondary bg-gradient text-white" id="inputBookshopId" placeholder="Element id" th:field="${thebbs.bookshopId}" readonly >
					  </div>
					  <div class="col-md-6">
					    <label class="form-label" for="inputBookshopName">Bookshop Name</label>
					    <input type="text" class="form-control form-control-lg bg-secondary bg-gradient text-white" id="inputBookshopName" placeholder="Element Name" th:field="${thebbs.name}" readonly >
					  </div>				  
				  </div>
				  <div class="mt-3">
					<button type="submit" class="btn btn-outline-info">Save</button>
					</div>
				</form>	  
			</div>				
			
		</main>
		
		<div class="container" th:replace="~{fragments/footer}">
		  
		</div>
		
	</body>
</html>