<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

	<div class="container" th:replace="~{fragments/head::head}"/>
	
	<body>
		<main>
			
			<div class="container" th:replace="~{fragments/header::header}"/>
			
			<div class="container text-center">
				
					<h1> = ERROR = </h1>
					<img class="d-block mx-auto mb-4" src="/images/spring-3-logo-svg-vector.svg" alt="" width="72" height="57">
					<p th:text="${exception.name}"></p>	
					<p th:text="${exception.description}"></p>					
					<p>
					  <a class="btn btn-outline-info" data-bs-toggle="collapse" href="#collapseMessage" role="button" aria-expanded="false" aria-controls="collapseMessage">
					    Extended Message
					  </a>
					</p>
					<div class="collapse" id="collapseMessage">
					  <div class="card card-body"><p th:text="${exception.message}"></p></div>
					</div>
			</div>
			
		</main>
		
		<div class="container" th:replace="~{fragments/footer}">
		  
		</div>
		
	</body>
</html>