<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Book App</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
	<body>
		<main>
			
			<div class="container" th:replace="~{fragments/header::header}"/>
			
			<div class="container">
				<div class="table-responsive">					
					<h2>List of books</h2>
					<table class="table table-striped table-hover caption-top">
						<caption class="invisible">List of books</caption>
		  				<thead>
						    <tr>
						      <th scope="col">Id</th>
						      <th scope="col">Isbn</th>
						      <th scope="col">Title</th>
						      <th scope="col">Authors</th>
						      <th scope="col">Genre</th>
						      <th scope="col">Publisher</th>
						      <th scope="col" colspan="2">Actions</th>
						    </tr>
						  </thead>
						  <tbody class="table-group-divider">
							  <tr th:each = "book: ${books}">
								  <td th:text = "${book.bookId}"></td>
								  <td th:text = "${book.isbn}"></td>
								  <td th:text = "${book.title}"></td>
								  <td>
									<span th:each = "author: ${book.authors}">
									  <p th:with = "authorName = ${author.name} + ' ' + ${author.surname}" th:text="${authorName}"></p>
									</span>
									</td>
								  <td th:text = "${book.genre}"></td>
								  <td th:text = "${book.publisher}"></td>
								  <td><a class="btn btn-outline-info btn-sm" th:href="@{/editBook/{id} (id = ${book.bookId})}" role="button">Edit</a></td>
								  <td><a class="btn btn-outline-danger btn-sm" th:href="@{/deleteBook/{id} (id=${book.bookId})}" role="button">Delete</a></td>
							  </tr>							  
						  </tbody>
					</table>
				</div>
				<div class=" text-center">
					<a th:href="@{/addBook}" role="button" class="btn btn-outline-success">Add New</a>
				</div>
			</div>
			
		</main>
		
		<div class="container" th:replace="~{fragments/footer}">
		  
		</div>
		
	</body>
</html>