<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >
	
<div class="container" th:replace="~{fragments/head::head}"/>

	<body>
		<main>				
			<div class="container" th:replace="~{fragments/header::header}"/>
			<div class="container">
				<div class="table-responsive">					
					<h2>List of Books and Bookshops</h2>
					<table class="table table-striped table-hover caption-top">
						<caption class="invisible">List of Books and Bookshops</caption>
		  				<thead>
						    <tr>
						      <th scope="col">Book Id </th>
						      <th scope="col">Isbn</th>
						      <th scope="col">Title</th>
						      <th scope="col">Price</th>
						      <th scope="col">Units</th>
						      <th scope="col">Bookshop Id</th>
						      <th scope="col">Bookshop Name</th>
						      <th scope="col" colspan="2">Actions</th>
						    </tr>
						  </thead>
						  <tbody class="table-group-divider">
							  <tr th:each = "bbs: ${bookBookshops}">
								  <td th:text = "${bbs.bookId}"></td>
								  <td th:text = "${bbs.isbn}"></td>
								  <td th:text = "${bbs.title}"></td>
								  
								  <td th:text = "${bbs.price}"></td>
								  <td th:text = "${bbs.units}"></td>
								  
								  <td th:text = "${bbs.bookshopId}"></td>
								  <td th:text = "${bbs.name}"></td>
								  <td><a class="btn btn-outline-info btn-sm" th:href="@{/editBookBookshop(bookId = ${bbs.bookId}, bookshopId=${bbs.bookshopId})}" role="button">Edit</a></td>
								  <td><a class="btn btn-outline-danger btn-sm" th:href="@{/deleteBookBookshop(bookId=${bbs.bookId}, bookshopId=${bbs.bookshopId})}" role="button">Delete</a></td>
							  </tr>							  
						  </tbody>
					</table>
				</div>
				<div class=" text-center">
					<a th:href="@{/addBookBookshop}" role="button" class="btn btn-outline-success">Add New Book available in Bookshop</a>
				</div>
			</div>
		</main>			
		<div class="container" th:replace="~{fragments/footer}"/>
	</body>

</html>	