<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Book App</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script></head>
	<body>
		<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
			<symbol id="toggles2" viewBox="0 0 16 16">
			    <path d="M9.465 10H12a2 2 0 1 1 0 4H9.465c.34-.588.535-1.271.535-2 0-.729-.195-1.412-.535-2z"/>
			    <path d="M6 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm.535-10a3.975 3.975 0 0 1-.409-1H4a1 1 0 0 1 0-2h2.126c.091-.355.23-.69.41-1H4a2 2 0 1 0 0 4h2.535z"/>
			    <path d="M14 4a4 4 0 1 1-8 0 4 4 0 0 1 8 0z"/>
			  </symbol>
			  <symbol id="cpu-fill" viewBox="0 0 16 16">
			    <path d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
			    <path d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5z"/>
			  </symbol>
			  <symbol id="tools" viewBox="0 0 16 16">
		    <path d="M1 0L0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z"/>
		  </symbol>
		   <symbol id="collection" viewBox="0 0 16 16">
		    <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"/>
		  </symbol>
		  <symbol id="calendar3" viewBox="0 0 16 16">
		    <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
		    <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
		  </symbol>
		  
		</svg>
		<main>
			
			<div class="container" th:replace="~{fragments/header::header}"/>
			
	  		<div class="px-4 py-5 my-5 text-center">
			    <img class="d-block mx-auto mb-4" src="/images/spring-3-logo-svg-vector.svg" alt="" width="72" height="57">
			    <h1 class="display-5 fw-bold text-body-emphasis">Welcome</h1>
			    <div class="col-lg-6 mx-auto">
			      <p class="lead mb-4">Quickly design and customize your own book store with Spring Framework, the world’s most popular open source toolkit.</p>
			     </div>
			  
			<div class="container px-4 py-5" id="hanging-icons">
			    <h2 class="pb-2 border-bottom">Sections</h2>
			    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
			      <div class="col d-flex align-items-start">
			        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
			          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
			        </div>
			        <div>
			          <h3 class="fs-2 text-body-emphasis">Books</h3>
			          <p>Create your books with the Book store management feature.</p>
			          <a th:href="@{/books}" class="btn btn-primary">
			            Go to Books
			          </a>
			        </div>
			      </div>
			      <div class="col d-flex align-items-start">
			        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
			          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
			        </div>
			        <div>
			          <h3 class="fs-2 text-body-emphasis">Publishers</h3>
			          <p>Add Publishers with this module.</p>
			          <a th:href="@{/publishers}" class="btn btn-primary">
			            Go to Publishers
			          </a>
			        </div>
			      </div>
			      <div class="col d-flex align-items-start">
			        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
			          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
			        </div>
			        <div>
			          <h3 class="fs-2 text-body-emphasis">Genres</h3>
			          <p>Literary genres management.</p>
			          <a th:href="@{/genres}" class="btn btn-primary">
			            Go to Genres
			          </a>
			        </div>
			      </div>
			      <div class="col d-flex align-items-start">
			        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
			          <svg class="bi" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
			        </div>
			        <div>
			          <h3 class="fs-2 text-body-emphasis">Authors</h3>
			          <p>Authors management.</p>
			          <a th:href="@{/authors}" class="btn btn-primary">
			            Go to Authors
			          </a>
			        </div>
			      </div>
			      <div class="col d-flex align-items-start">
			        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
			          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
			        </div>
			        <div>
			          <h3 class="fs-2 text-body-emphasis">Bookshops</h3>
			          <p>Configure your Bookshop and add or erase the books you are selling.</p>
			          <a th:href="@{/bookshops}" class="btn btn-primary">
			            Go to Bookshops
			          </a>
			        </div>
			      </div>
			    </div>
			</div>  
		</main>
		
		<div class="container"  th:replace="~{fragments/footer :: footer}">
		
		</div>
		
	</body>
</html>