<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	
	<div class="container" th:replace="~{fragments/head::head}"/>

	<body>
		<main>
			<div class="container" th:replace="~{fragments/header::header}"/>
			<div class="container">
				<div class="table-responsive">	
					<h2>List of publishers</h2>
					<table class="table table-striped table-hover caption-top">
						<caption class="invisible">List of publishers</caption>
		  				<thead>
						    <tr>
						      <th scope="col">Id</th>
						      <th scope="col">Name</th>
						      <th scope="col" colspan="2">Actions</th>
						    </tr>
						  </thead>
						  <tbody class="table-group-divider">
							  <tr th:each = "publisher: ${publishers}">
								  <td th:text = "${publisher.publisherId}"></td>
								  <td th:text = "${publisher.name}"></td>
								  <td><a class="btn btn-outline-info btn-sm" th:href="@{/editPublisher/{id} (id=${publisher.publisherId})}" role="button">Edit</a></td>
								  <td><a class="btn btn-outline-danger btn-sm" th:href="@{/deletePublisher/{id} (id=${publisher.publisherId})}" role="button">Delete</a></td>							  
							  </tr>							  
						  </tbody>
					</table>
				</div>
					<div class=" text-center">
						<a th:href="@{/addPublisher}" role="button" class="btn btn-outline-success">Add New</a>
					</div>
			</div>			
		</main>
		<div class="container" th:replace="~{fragments/footer}"/>
	</body>	
</html>