<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

	<div class="container" th:replace="~{fragments/head::head}"/>
	
	<body>
		<main>
			
			<div class="container" th:replace="~{fragments/header::header}"/>
			
			<div class="container">
				
				<h1>Are you sure of deleting this item?</h1>
				<h5>You can't erase the item while exist references in Book & Bookshops module</h5>
					<div class="form-group mb-3">
					    <label for="inputId">Id</label>
					    <input type="text" class="form-control form-control-lg bg-secondary bg-gradient text-white" id="inputId" readonly placeholder="Element id" th:field="*{book.bookId}">
					  </div>
					  <div class="form-group mb-3">
					    <label for="inputIsbn">ISBN</label>
					    <input type="text" class="form-control form-control-lg bg-secondary bg-gradient text-white" id="inputIsbn" readonly  placeholder="Enter ISBN" th:field="*{book.isbn}">
					  </div>
					  <div class="form-group mb-3">
					    <label for="inputTitle">Title</label>
					    <input type="text" class="form-control form-control-lg bg-secondary bg-gradient text-white" id="inputTitle" readonly  placeholder="Enter title" th:field="*{book.title}">
					  </div>
					<a class="btn btn-outline-danger btn-md" th:href="@{/confirmDeleteBook/{id} (id=${book.bookId})}" role="button">Delete</a>	
							
				
			</div>
			
		</main>
		
		<div class="container" th:replace="~{fragments/footer}">
		  
		</div>
		
	</body>
</html>