<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

	<div class="container" th:replace="~{fragments/head::head}"/>
	
	
	<body>
		<main>
			<div class="container" th:replace="~{fragments/header::header}"/>
			<div class="container">
				<h1>Are you sure of deleting this item?</h1>
				<div class="row g-3">
					<div class="col-md-4">
					    <label class="form-label" for="inputBookId">Book Id</label>
					    <input type="text" class="form-control form-control-lg bg-secondary bg-gradient text-white" id="inputBookId" readonly placeholder="Element id" th:field="*{thebbs.book.bookId}">
					  </div>
					<div class="col-md-4">
					    <label class="form-label" for="inputIsbn">Isbn</label>
					    <input type="text" class="form-control form-control-lg bg-secondary bg-gradient text-white" id="inputIsbn" readonly placeholder="Element isbn" th:field="*{thebbs.book.isbn}">
					  </div>
					<div class="col-md-4">
					    <label class="form-label" for="inputTitle">Title</label>
					    <input type="text" class="form-control form-control-lg bg-secondary bg-gradient text-white" id="inputTitle" readonly placeholder="Element title" th:field="*{thebbs.book.title}">
					  </div>
				  </div> 
				  <div class="row">
					<div class="col-md-6">
					    <label class="form-label" for="inputPrice">Price</label>
					    <input type="text" class="form-control form-control-lg bg-secondary bg-gradient text-white" id="inputPrice" readonly placeholder="Element price" th:field="*{thebbs.price}">
					  </div>
					<div class="col-md-6">
					    <label class="form-label" for="inputUnits">Units</label>
					    <input type="text" class="form-control form-control-lg bg-secondary bg-gradient text-white" id="inputUnits" readonly placeholder="Element units" th:field="*{thebbs.units}">
					  </div>				  
				  </div>
				  <div class="row"> 
					  <div class="col-md-6">
					    <label class="form-label" for="inputBookshopId">Bookshop Id</label>
					    <input type="text" class="form-control form-control-lg bg-secondary bg-gradient text-white" id="inputBookshopId" readonly placeholder="Element id" th:field="*{thebbs.bookshop.bookshopId}">
					  </div>
					  <div class="col-md-6">
					    <label class="form-label" for="inputBookshopName">Bookshop Name</label>
					    <input type="text" class="form-control form-control-lg bg-secondary bg-gradient text-white" id="inputBookshopName" readonly placeholder="Element Name" th:field="*{thebbs.bookshop.name}">
					  </div>				  
				  </div>
				  <div class="mt-3">
					  <a class="btn btn-outline-danger btn-md" th:href="@{/confirmDeleteBookBookshop(bookId=${thebbs.book.bookId},bookshopId=${thebbs.bookshop.bookshopId})}" role="button">Delete</a>
					</div>  
			</div>
			<div class="container" th:replace="~{fragments/footer}"/>
		</main>
	</body>
</html>