<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

	<div class="container" th:replace="~{fragments/head::head}"/>
	
	<body>
		<main>
			
			<div class="container" th:replace="~{fragments/header::header}"/>
			
			<div class="container">
				
					<h1>Are you sure of deleting this item?</h1>
					<div class="form-group mb-3">
					    <label for="inputId">Id</label>
					    <input type="text" class="form-control form-control-lg bg-secondary bg-gradient text-white" id="inputId" readonly placeholder="Element id" th:field="*{genre.genreId}">
					  </div>
					  <div class="form-group mb-3">
					    <label for="inputName">Name</label>
					    <input type="text" class="form-control form-control-lg bg-secondary bg-gradient text-white" id="inputName" readonly  placeholder="Enter name" th:field="*{genre.name}">
					  </div>
					  <div class="form-group mb-3">
					    <label for="inputDescription">Description</label>
					    <input type="text" class="form-control form-control-lg bg-secondary bg-gradient text-white" id="inputDescription" readonly placeholder="Enter a description" th:field="*{genre.description}">
					  </div>
					<a class="btn btn-outline-danger btn-md" th:href="@{/confirmDeleteGenre/{id} (id=${genre.genreId})}" role="button">Delete</a>	
				
			</div>
			
		</main>
		
		<div class="container" th:replace="~{fragments/footer}">
		  
		</div>
		
	</body>
</html>