<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

	<div class="container" th:replace="~{fragments/head::head}"/>
	
	<body>
		<main>
			
			<div class="container" th:replace="~{fragments/header::header}"/>
			
			<div class="container">
				
					<h1>Are you sure of deleting this item?</h1>
					<h5>You can't erase the item while exist references in other module</h5>
					<div class="form-group mb-3">
					    <label for="inputId">Id</label>
					    <input type="text" class="form-control form-control-lg bg-secondary bg-gradient text-white" id="inputId" readonly placeholder="Element id" th:field="*{bookshop.bookshopId}">
					  </div>
					  <div class="form-group mb-3">
					    <label for="inputName">Name</label>
					    <input type="text" class="form-control form-control-lg bg-secondary bg-gradient text-white" id="inputName" readonly  placeholder="Enter name" th:field="*{bookshop.name}">
					  </div>
					<a class="btn btn-outline-danger btn-md" th:href="@{/confirmDeleteBookshop/{id} (id=${bookshop.bookshopId})}" role="button">Delete</a>	
				
			</div>
			
		</main>
		
		<div class="container" th:replace="~{fragments/footer}">
		  
		</div>
		
	</body>
</html>